<div class="w-full max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold mb-4"><%= @insight.title %></h1>

  <div class="space-y-4">
    <% if @insight.body.present? %>
      <p class="text-lg text-gray-700 leading-relaxed mb-4"><%= @insight.body %></p>
    <% end %>

    <% if @insight.snippet.present? %>
      <div class="text-lg pl-4 mb-b border-l-4 border-blue-300 text-gray-700 italic">
        <%= @insight.snippet %>
      </div>
    <% end %>

    <div class="pt-4">
      <%= render partial: "articles/article", locals: { article: @insight.article } %>
    </div>

    <h2 id="insights" class="text-2xl font-semibold pt-6 pb-2">Explore</h2>

    <%= render @insight.research_threads %>

    <div>
      <%= form_with url: research_threads_path, method: :post, class: "flex gap-2" do |f| %>
        <%= f.hidden_field :insight_id, value: @insight.id %>
        <%= f.text_field :query,
            required: true,
            class: "flex-1 py-3 px-5 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-300 focus:border-transparent" %>
        <%= f.submit "→",
            class: "px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer" %>
      <% end %>
    </div>

    <% if @more_from_article.any? %>
      <h2 class="text-2xl font-semibold pt-6 pb-2">More from the article</h2>
      <% @more_from_article.each do |item| %>
        <%= render partial: "shared/item", locals: { item:, article: @insight.article } %>
      <% end %>
    <% end %>

    <% if @similar_items.any? %>
      <h2 class="text-2xl font-semibold pt-6 pb-2">Related</h2>
      <% @similar_items.each do |item| %>
        <%= render partial: "shared/item", locals: { item:, article: @insight.article } %>
      <% end %>
    <% end %>
  </div>
</div>
